*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ebf0fb;
}

.checkout.highlight {
    border: 2px solid #ff5722; /* Orange border */
    box-shadow: 0 0 10px rgba(255, 87, 34, 0.5); /* Glow effect */
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.heading{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 35px;
}

h4{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}

.input-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #555ae6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #a6a7cf;
}

.checkout-section {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: start;
    margin-top: 30px;
    padding: 0 40px;
}

.checkout {
    flex: 1;
    min-width: 450px;
    max-width: 450px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    background-color: white;
}

.container-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.checkout-header {
    font-weight: bold;
    font-size: 20px;
}

.item-count{
    font-size: 15px;
}

.customer-count{
    font-size: 14px;
}

.customer-item {
    padding: 15px;
    margin: 5px 0;
    background-color: #f5f5fa;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.total-items {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.items-list{
    height: 350px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media (max-width: 480px) {
    .container {
        padding: 10px; /* Less padding on small screens */
    }

    .checkout-section {
        flex-direction: column; /* Stack checkouts vertically */
        gap: 15px;
        padding: 8px;
    }

    .checkout {
        width: 100%; /* Full-width cards */
        min-width: unset;
    }

    .input-section {
        flex-direction: column; /* Stack input + button */
    }

    input, button {
        width: 100%; /* Full-width elements */
    }

    .customer-item{
        padding: 10px;
    }

    h1{
        font-size: 20px;
    }

    h4{
        font-size: 15px;
    }

    .items-list{
        height: 250px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .checkout{
        min-width: 300px;
        max-width: 300px;
    }
}